
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["EmployeeID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Dashboard</h1>
        <h3>Username: @Session["userName"].ToString()</h3>
        <p><a href="@Url.Action("NewEncounter", "Encounter")">New Patient Encounter</a></p>
        <p><a href="@Url.Action("PatientLookUp", "")">Patient Look Up</a></p>
        <a href="@Url.Action("LogOut", "Login")">Log Out</a>
    </div>
</body>
</html>
