
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["EmployeeID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Welcome, @Session["userName"].ToString()</h3>
        <p><a href="@Url.Action("NewEncounter", "Encounter")">New Patient Encounter</a></p>
        <p><a href="@Url.Action("PatientLookUp", "PatientLookUp")">Patient Look Up</a></p>
       
    </div>
</body>
</html>
